<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <appSettings>
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <connectionStrings>
    <add name="PgmDEntities" connectionString="metadata=res://*/Models.EntityDataModel.csdl|res://*/Models.EntityDataModel.ssdl|res://*/Models.EntityDataModel.msl;provider=System.Data.SqlClient;provider connection string='data source=ACS-HYD-DEVSQL01.centralindia.cloudapp.azure.com\\MSSQLSERVER2019,1435;initial catalog=PgmD;user id=PgmD_App;password=2TeeitUp;persist security info=True;multipleactiveresultsets=True;App=EntityFramework';" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>