<?xml version="1.0" encoding="utf-8" ?>
<bundles version="5.0.0">
	<scriptBundle path="~/Scripts/Default">
		<include path="~/includes/js/ux/Ext.ux.tree.TreeFilterX.js" />
		<include path="~/includes/js/ux/form/LovCombo.js" />
		<include path="~/includes/js/ux/grid/RowActions.js" />
		<include path="~/includes/js/Ext.override.js" />
		<!-- Common files -->
		<include path="~/includes/js/Utilities.js" />
		<include path="~/includes/js/PgmD.eds.Search.js" />
		<include path="~/includes/js/PgmD.TreeSearchField.js" />
		<include path="~/includes/js/PgmD.HierTreePanel.js" />
		<!-- Page/tab js files -->
		<include path="~/includes/js/PgmD.access.AccessGrid.js" />
		<include path="~/includes/js/PgmD.access.AcFormPanel.js" />
		<include path="~/includes/js/PgmD.Viewport.js" />
	</scriptBundle>
</bundles>